.mainCard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.loginCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    padding: 2rem 4rem;
    max-width: 55rem;
    width: 100%;
    margin: auto;
    background-color: #ffffff;
}

.loginHeading {
    margin: 1rem 0;
    font-size: 3rem;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form > * {
    margin-bottom: 8px;
}

.linkContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    color: black;
    font-size: 1.1rem;
    text-decoration: none;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

.errorModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2.5rem 4rem 2rem;
}

.errorMessage {
    color: #ff1744;
    font-size: 1.7rem;
    font-weight: 600;
}

.successModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2.5rem 4rem 2rem;
}

.successMessage {
    text-align: center;
    color: #00e676;
    font-size: 1.7rem;
    font-weight: 600;
}
